@model IEnumerable<Discussions.Models.Communaute>

@{
    ViewData["Title"] = "Communautés";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Communautés</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th>Number of Users</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abonnes.Count)
                </td>
                <td>
                    @Html.ActionLink("Créer Fil", "Creer","Fil", new {idCommunaute = item.CommunauteId})
                    @Html.ActionLink("Voir les conversations","Details","Communaute", new {idCommunaute = item.CommunauteId})
                </td>
            </tr>
        }
    </tbody>


</table>

